@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewData["Title"]</h2>
            <div id="about">
                <p>This is bot is currently live on a few servers. The author is still actively working on adding extra features, but what's there is pretty much usable.</p>
            </div>
        </div>
    </div>
</div>