@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewData["Title"]</h2>
            <div id="about">
                <p>This is still WIP</p>
            </div>
        </div>
    </div>
</div>