@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewData["Title"]</h2>
            <div id="contact">
                <p> <a href="https://github.com/stockmansy/NoeSBot">Github</a></p>
                <p><a href="https://discord.gg/QxzQJJd" rel="nofollow"><img src="https://camo.githubusercontent.com/11a107bd59a337789fa0ce13b15727340670c392/68747470733a2f2f646973636f72646170702e636f6d2f6170692f6775696c64732f3330323733383638363733373531343439372f7769646765742e706e67" alt="Discord" data-canonical-src="https://discordapp.com/api/guilds/302738686737514497/widget.png" style="max-width:100%;"></a></p>
            </div>
        </div>
    </div>
</div>