@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Scripts {
    <script src="~/js/app.build.js"></script>
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="features">
                @*{{ message }}
                <ol>
                    <li v-for="todo in todos">
                        {{ todo.text }}
                    </li>
                </ol>*@
                <tabs :options="{ useUrlFragment: false }">
                    <tab v-for="feature in features" :key="feature.name" v-bind:name="feature.name">
                        <div v-for="command in feature.commands" :key="command.name" class="command-group">
                            <div class="command-item-group">
                                <div class="command-name command-title">{{command.name}}</div>
                            </div>

                            <div class="command-item-group">
                                <div class="command-title">Alias</div>
                                <ul>
                                    <li v-for="alias in command.alias">
                                        {{alias}}
                                    </li>
                                </ul>
                            </div>

                            <div class="command-item-group">
                                <div class="command-title">Fields</div>
                                <ul>
                                    <li v-for="field in command.fields" class="command-field">
                                        <div>{{field.name}}</div>
                                        <div>{{field.value}}</div>
                                    </li>
                                </ul>
                            </div>

                            <div class="command-item-group">
                                <div class="command-title">Examples</div>
                                <ul>
                                    <li v-for="example in command.examples" class="command-field">
                                        <div>{{example}}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <hr />
                        <p>This is all very much WIP</p>
                        @*<table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Command</th>
                                    <th>Description</th>
                                    <th>Example(s)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="command in feature.commands" :key="command.name">
                                    <td>{{command.name}}</td>
                                    <td>
                                        <div class="command">{{command.command}}</div>
                                        <div v-for="alias in command.alias">
                                            {{alias}}
                                        </div>
                                    </td>
                                    <td>
                                        {{command.description}}
                                        <div v-for="field in command.fields">
                                            <div>{{field.name}}</div>
                                            <div>{{field.value}}</div>
                                        </div>
                                    </td>
                                    <td>{{command.examples}}</td>
                                </tr>
                            </tbody>
                        </table>*@
                    </tab>
                </tabs>
            </div>
        </div>
    </div>
</div>