@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Scripts {
    <script src="~/js/app.build.js"></script>
}

<div id="header" class="large">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>NoeSbot</h1>
            </div>
            <div class="col-md-6">
                <p>Some description</p>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-page="/Index" class="navbar-brand">NoeSbot</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-page="/Index">Home</a></li>
                <li><a asp-page="/About">About</a></li>
                <li><a asp-page="/Contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="features">
                {{ message }}
                <ol>
                    <li v-for="todo in todos">
                        {{ todo.text }}
                    </li>
                </ol>
                <tabs :options="{ useUrlFragment: false }">
                    <tab v-for="feature in features" :key="feature.name" v-bind:name="feature.name">
                        <div v-for="command in feature.commands" :key="command.name" class="command-group">
                            <div class="command-item-group">
                                <div class="command-name command-title">{{command.name}}</div>
                            </div>

                            <div class="command-item-group">
                                <div class="command-title">Alias</div>
                                <ul>
                                    <li v-for="alias in command.alias">
                                        {{alias}}
                                    </li>
                                </ul>
                            </div>

                            <div class="command-item-group">
                                <div class="command-title">Fields</div>
                                <ul>
                                    <li v-for="field in command.fields" class="command-field">
                                        <div>{{field.name}}</div>
                                        <div>{{field.value}}</div>
                                    </li>
                                </ul>
                            </div>

                            <div class="command-item-group">
                                <div class="command-title">Examples</div>
                                <ul>
                                    <li v-for="example in command.examples" class="command-field">
                                        <div>{{example}}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Command</th>
                                    <th>Description</th>
                                    <th>Example(s)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="command in feature.commands" :key="command.name">
                                    <td>{{command.name}}</td>
                                    <td>
                                        <div class="command">{{command.command}}</div>
                                        <div v-for="alias in command.alias">
                                            {{alias}}
                                        </div>
                                    </td>
                                    <td>
                                        {{command.description}}
                                        <div v-for="field in command.fields">
                                            <div>{{field.name}}</div>
                                            <div>{{field.value}}</div>
                                        </div>
                                    </td>
                                    <td>{{command.examples}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </tab>
                </tabs>
            </div>
        </div>
    </div>
</div>