@import "_include/reset.scss";

body {
    font-family: Arial, Helvetica, sans-serif;

    h2 {
        font-size: 1.6em;
        font-weight: 800;
        margin-bottom: 10px;
    }
}

#header {
    padding: 40px;
    background: #FF0033;
    color: #FFF;

    h1 {
        font-size: 60px;
        font-weight: 800;
        color: #FFF;
    }

    &.large {
        padding: 120px 60px;
    }

    &.small {
        padding: 20px;
    }
}

#features {
    .tabs-component {
        &:after {
            content: "";
            clear: both;
            display: table;
        }

        .tabs-component-tabs {
            border-right: 1px solid #DDD;
            float: left;
            width: 20%;

            .tabs-component-tab {


                &.is-active {
                    background: #efefef;
                    border: 1px solid #DDD;
                }

                a {
                    color: #333;
                    padding: 6px 8px;
                    display: block;
                    text-decoration: none;

                    &:hover {
                        background: #ededed;
                        text-decoration: none;
                    }
                }
            }
        }

        .tabs-component-panels {
            padding: 0 3px 3px 3px;
            float: left;
            width: 80%;
        }
    }

    .command-group {
        padding: 4px;
        margin-bottom: 10px;
        border: 1px solid #DDD;

        .command-name.command-title {
            font-size: 1.2em;
        }

        .command-title {
            font-size: 1em;
            font-weight: 600;
        }

        .command-item-group {
            margin-bottom: 10px;
        }

        .command-field {
            margin-bottom: 3px;
        }
    }
}

.navbar {
    margin-bottom: 20px;
}

footer {
    margin-bottom: 20px;
}


