@import "_include/reset.scss";

body {
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    padding: 40px;
    background: #FF0033;

    h1 {
        font-size: 60px;
        font-weight: 800;
        color: #FFF;
    }

    &.large {
        padding: 120px;
    }

    &.small {
        padding: 20px;
    }
}